<article id="myPayments">
    <div >
    <br  ng-if="myPayments.personalSpendingAccounts">
    <div ng-if="myPayments.personalSpendingAccounts">
        <h3><i class="fa fa-money"></i> Budget</h3>
        <hr>
        <div class="panel panel-default" ng-repeat="spendingAccount in myPayments.personalSpendingAccounts.Items">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <b>{{spendingAccount.Name}}</b>
                        <div class="text-muted">
                            <small ng-if="spendingAccount.StartDate && spendingAccount.EndDate">
                                Lifetime: {{spendingAccount.StartDate | date:'shortDate'}} - {{spendingAccount.EndDate | date :'shortDate'}}
                            </small>
                            <small ng-if="spendingAccount.StartDate && !spendingAccount.EndDate">
                                Made Available On: {{spendingAccount.StartDate | date:'shortDate'}}
                            </small>
                            <small ng-if="!spendingAccount.StartDate && spendingAccount.EndDate">
                                Expires On: {{spendingAccount.EndDate | date :'shortDate'}}
                            </small>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <!--TODO: remove the inline style here-->
                        <p style="margin:0;" class="lead text-primary" ng-if="spendingAccount.Balance">{{spendingAccount.Balance | currency}}</p>
                    </div>
                </div>
            </div>
        </div>                
        <div class="row">
            <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && myPayments.personalSpendingAccounts.Meta.TotalPages > 1">
                <ul uib-pagination boundary-links="myPayments.personalSpendingAccounts.Meta.TotalPages > 5"
                    max-size="5" total-items="myPayments.personalSpendingAccounts.Meta.TotalCount"
                    items-per-page="myPayments.personalSpendingAccounts.Meta.PageSize"
                    ng-model="myPayments.personalSpendingAccounts.Meta.Page"
                    ng-change="myPayments.pageChanged()"></ul>
                </div>
            </div>
    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</article>